.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.file button{
  background-color : #23282d;
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px;
  cursor: pointer; 
  float: left; 
  
}

 .accordion:hover {
    background-color: red;
}


.PlacRC {
    padding: 0 15px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.PlacSpec {
    padding: 0 15px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.Typo {
    padding: 0 15px;
    background-color: white;
    display: none;
    overflow: hidden;
}


