@font-face{
    font-family: 'lato';
    src: url(lato/Lato-Regular.ttf);
}

@font-face{
    font-family: 'ptitre';
    src: url(lato/Lato-Black.ttf);
}


/* Body */
body {
    background: radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 5% 2% / 5em 5em,
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 79% 10% / 2em 2em,
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 99% 9% / 2em 2em,
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 31% 9% / 2em 2em,
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 110% 139% / 3em 3em, 
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 49% 130% / 6em 6em, 
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 60% 136% / 2em 2em,  
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 5% 133% / 3em 3em, 
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 90% 114% / 0.87em 0.87em, 
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 61% 108% / 0.56em 0.56em, 
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 22% 124% / 0.62em 0.62em, 
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 70%) 112% 87% / 0.5em 0.5em, 
    radial-gradient(circle at center, transparent 30%, #3A5795 60%, #4AAEDE 65%, transparent 40%) 11% 82% / 0.76em 0.76em;
    background-color: rgba(241, 241, 241, 0.986);
    background-repeat: no-repeat;
    color: #3A5795;
}

/*logo + titre + btn thème*/
.globTitre{
    width: 100%;
    height: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'ptitre';
}

/* dimension du logo */
img{
    width :100px;
    height: 50px;
    padding-top: 5px;
}

/*titre en gras */
.titre{
    font-family: 'ptitre';
    text-align: center;
}
    
/*button theme*/   
.OnOff{
    padding-top: 10px;
    height: 4px;
    width: 2px;
}

.bleu{
    background: rgb(74,174,222);
    background: linear-gradient(240deg, rgba(74,174,222,0.8687675753895308) 10%, rgba(58,87,149,1) 59%);
    
    border-radius:25px 25px 0 0;
}

.vert{
    background: rgb(120,233,217);
    background: linear-gradient(117deg, rgba(120,233,217,1) 6%, rgba(0,255,154,1) 96%);
    border-radius:0 0 25px 25px;
}


/*le paragraphe*/
.paragraphe{
    text-align: center;
    font-family: 'lato';
    font-size:20px;
    background-color:rgba(119,119,119,0.2);
    border-radius: 30px;
    color:#000;
}

/*les sous-titres  File | Placements | Placements Spec| Typo */
.accordion {
    background: rgb(74,174,222);
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
    font-family: 'lato';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*raduis des accordions*/
#file{
    border-radius: 30px 30px 0 0;
}

#typo{
    border-radius: 0 0 30px 30px;
}

/* icone (+) */
.accordion:after {
    content: '\02795'; 
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
    position: absolute;
    right:20px;
}
  
/* icone (-) */
.active:after {
    content: "\2796"; 
}

/* icone accordion */
#icon1{
    background-image: url(img/learning.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;  
    margin-left:20px;
}

#icon2{
    background-image: url(img/elearning.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;  
    margin-left:20px;
}

#icon3{
    background-image: url(img/piggy-bank.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;  
    margin-left:20px;
}

#icon4{
    background-image: url(img/chat.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;  
    margin-left:20px;
}

/*FILE*/
.file{
    display:none;
    opacity: 1;  
    margin:auto;
    width:20px;
    padding:15px;
}

.file button{
    background-color: #C8CCD4;
    border: 1px solid white; 
    color: #3A5795; 
    padding: 10px 24px;
    cursor: pointer; 
    float: left; 
}

/*3 boutons du file*/
.rc, .mc, .om{
    border-radius:30px;
    font-size:16px;
}

.position{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:100%;
    padding:3px;
}

.file input{
    display: none;
}

.file label{
    background-color: #C8CCD4;
    border: 1px solid white; 
    color: #3A5795; 
    padding: 10px 24px;
    border-radius:30px;
    font-size:16px;
    cursor: pointer;
}

.file input:checked + label{
    background:#777;
    color:white;
}

.mc:focus{
    background:#777;
    color:white;
}

.om:focus{
    background: rgb(100, 100, 100);
    color:white;
}

/*couleur survol accordion */
.file button:hover{
    background-color: #777;
}

.accordion:hover {
    background:#3A5795;
   /* background: linear-gradient(240deg, rgba(35,40,45,1) 2%, rgba(58,87,149,1) 40%, rgba(74,174,222,0.8687675753895308) 69%);*/
}

/* Apparition | Réduction de l'accordion */
.placement , .placementSpec, .typo{
    padding: 25px;
    display: none;
    overflow: hidden;
    text-align: center;
}

/* animation sur les checkbox */
.check{
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0,0,0);
    padding-left: 15px;
}

.check:before{
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(#223254,.03);
    opacity: 0;
    transition: opacity .2s ease;
}

.check:hover svg{
    stroke: #4285F4;
}

.check:hover:before{
    opacity: 1;
}

.check svg{
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #C8CCD4;
    stroke-width: 1.5;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
}

.check svg path{
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline{
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.cbx:checked + .check svg{
    stroke: #4285F4;
}

.cbx:checked + .check path{
    stroke-dashoffset: 60;
    transition: all .3s linear;
}

.cbx:checked + .check polyline{
    stroke-dashoffset: 42;
    transition: all .2s linear;
    transition-delay: .15s;
}

/*position bouton je declare ma vente*/
.posbtn{
    display: flex;
    justify-content: end;
    margin-right: 70px;
    padding-top: 15px;
}

/*animation du bouton "declarer ma vente " */
.btn-bubble {
    color: white;
    background-color: #3A5795;
    background-repeat: no-repeat;
    color: #FFF;
}

.btn-bubble:hover, .btn-bubble:focus {
    animation: bubbles 1s forwards ease-out;
    background: radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) -4% 139% / 1.02em 1.02em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 110% 144% / 0.96em 0.96em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 49% 137% / 0.6em 0.6em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 17% 122% / 0.61em 0.61em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 63% 136% / 0.55em 0.55em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 6% 133% / 0.62em 0.62em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 92% 114% / 0.87em 0.87em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 61% 108% / 0.56em 0.56em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 22% 124% / 0.62em 0.62em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 112% 87% / 0.5em 0.5em, radial-gradient(circle at center, transparent 30%, #eef 60%, #eef 65%, transparent 70%) 11% 82% / 0.76em 0.76em;
    background-color: #3A5795;
    background-repeat: no-repeat;
    color: #FFF;
}
  
@keyframes bubbles {
    100% {
      background-position: -8% -30%, 111% -347%, 41% -358%, 22% -276%, 63% -14%, 8% -7%, 91% -277%, 58% -360%, 14% -41%, 119% -307%, 12% -165%;
      box-shadow: inset 0 -6.5em 0 #4AAEDE;
    }
}

.btn {
    background-color: #3A5795;
    text-decoration: none;
    padding: 1em 2em;
    color: #FFF;
    margin-top: 2px; 
    border-radius: 30px;
}

.btn:hover {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}